dist: trusty
sudo: required

language: generic

cache: apt

addons:
  apt:
    packages:
      - fonts-linuxlibertine
      - librsvg2-bin
      - lmodern
      - make
      - texlive
      - texlive-fonts-extra
      - texlive-fonts-recommended
      - texlive-generic-recommended
      - texlive-latex-extra
      - texlive-xetex
      - texlive-lang-french

before_install:
  - wget https://github.com/jgm/pandoc/releases/download/1.19.2.1/pandoc-1.19.2.1-1-amd64.deb -O pandoc.deb
  - sudo dpkg -i pandoc.deb

install:
  - wget https://github.com/Ranks/emojione-assets/archive/3.1.2.tar.gz -O emojione-assets.tgz
  - tar xzf emojione-assets.tgz
  - mv emojione-assets-3.1.2 emojione-assets
  - wget https://raw.githubusercontent.com/mreq/xelatex-emoji/master/xelatexemoji.sty
  - wget https://raw.githubusercontent.com/mreq/xelatex-emoji/master/xelatexemoji-flags.sty
  - sed -i 's/^\(\\usepackage{amsmath}\)/%\1/' xelatexemoji.sty
  - sed -i 's/^\(\\providecommand{\\xelatexemojipath}\)/%\1/' xelatexemoji.sty

script:
  - make all

after_success:
  - >
    test "${TRAVIS_PULL_REQUEST}" = "false" \
      && test "${TRAVIS_BRANCH}" = "master" \
      && bash deploy.sh \
      || echo ":-)"
