dist: trusty
sudo: false

language: haskell

env:
  - GHCVER=7.8

cache: apt

addons:
  apt:
    packages:
      - fonts-linuxlibertine
      - librsvg2-bin
      - lmodern
      - make
      - texlive
      - texlive-fonts-extra
      - texlive-fonts-recommended
      - texlive-generic-recommended
      - texlive-latex-extra
      - texlive-xetex
      - texlive-lang-french

before_install:
  - wget https://github.com/Ranks/emojione-assets/archive/3.1.2.tar.gz -O emojione-assets.tgz
  - tar xzf emojione-assets.tgz
  - mv emojione-assets-3.1.2 emojione-assets
  - wget https://raw.githubusercontent.com/mreq/xelatex-emoji/master/xelatexemoji.sty
  - wget https://raw.githubusercontent.com/mreq/xelatex-emoji/master/xelatexemoji-flags.sty
  - sed -i 's/^\(\\usepackage{amsmath}\)/%\1/' xelatexemoji.sty
  - sed -i 's/^\(\\providecommand{\\xelatexemojipath}\)/%\1/' xelatexemoji.sty

install:
  - cabal install pandoc pandoc-citeproc
  - export PATH=$HOME/.cabal/bin:$PATH

script:
  - make all

after_success:
  - >
    test "${TRAVIS_PULL_REQUEST}" = "false" \
      && test "${TRAVIS_BRANCH}" = "master" \
      && bash deploy.sh \
      || echo ":-)"
