<style>
  /* 16:9 ratio */
  html body {
    width: 1066px;
    margin-left: -533px;
  }

  html, .view body {
    background-color: #CC0050;
  }

  section > pre, section > .sourceCode {
    margin: 0 .5em;
  }

  ul {
      margin: 10px 50px;
  }
  li > ul {
      margin: 10px 50px;
  }

  footer {
    padding: 4px;
  }

  header {
    top: 0;
    width: 100%;
    padding: 2px;
    text-align: center;
    background-color: #F3F4F8;
    border-bottom: 1px solid #CCC;
  }

  .yel-bg {background-color: yellow;}
  .red-bg {background-color: red}
  .arc-bg {background-color: #dc0062}
</style>
<base target="_blank">
