<style>
  /* 16:9 ratio */
  html body {
    width: 1066px;
    margin-left: -533px;
  }

  section > pre, section > .sourceCode {
    margin: 0 .5em;
  }

  ul {
    margin: 10px 50px;
  }
  li > ul {
    margin: 10px 50px;
  }

  footer {
    padding: 4px;
    font-size: 30px;
    background-color: red;
  }

 .title {
    text-align: center;
    font-size: 80px;
    padding-top: 100px;

    border-bottom: 0px solid #FFF;
    background-color: #FFF;
  }

 h1, h2, header {
    top: 0;
    width: 100%;
    padding: 2px;
    text-align: center;
    background-color: #efefef;
    border-top: 10px solid red;
    margin:0;
    font-size: 30px;
  }

  h1 + h2 {
    border-top: 0px none;
  }

  code {font-size:75%;}
  p {font-size: 60%}
  ul li ul li {font-size: 80%}
  figcaption {display: none}

  figure, figure img {
  /*  display: block; */
    margin: auto;
    width: 90%;
    height: 90%;
  }

  .yel-bg {background-color: yellow;}
  .red-bg {background-color: red}

  #progress-bar {
    height: 10px;
    border-top-right-radius: 10px;
    background: rgba(255, 0, 0, 0.8);
  }

  /* waiting for a better solution */
  .footnoteRef, .footnotes { display: none }
  #refs { font-size: 60% }
</style>
<base target="_blank">
