<style>
  /* 16:9 ratio */
  html body {
    width: 1066px;
    margin-left: -533px;
    background: linear-gradient(to bottom, rgb(255, 47, 65), rgb(255, 230, 230) 15%);
    color: rgb(36, 0, 0);
  }

  section > pre, section > .sourceCode {
    margin: 0 .5em;
  }

  ul {
    margin: 10px 50px;
  }
  li > ul {
    margin: 10px 50px;
  }

  footer {
    padding: 4px;
    font-size: 30px;
    background-color: rgba(255, 47, 64, 0.788);
  }

 .title {
    text-align: center;
    font-size: 80px;
    padding-top: 100px;

    border-bottom: 0px solid rgb(255, 230, 230);
    /*background-color: rgb(255, 213, 213);*/
  }

 h1, h2, header {
    top: 0;
    width: 100%;
    padding: 2px;
    text-align: center;
    /*background-color: rgb(231, 90, 102);*/
    border-top: 10px solid rgb(255, 47, 65);
    margin:0;
    font-size: 30px;
  }

  h1 + h2 {
    border-top: 0px none;
  }

  h1 {margin-bottom: 5%}

  code {font-size:75%;}
  p {font-size: 60%;}
  ul li ul li {font-size: 80%;}
  figcaption {display: none}

  figure, figure img {
  /*  display: block; */
    margin: auto;
    width: 90%;
    height: 90%;
  }

  .yel-bg {background-color: rgb(255, 47, 65);}
  .red-bg {background-color: rgb(231, 90, 102)}

  #progress-bar {
    height: 10px;
    border-top-right-radius: 10px;
    background: rgb(255, 47, 65);
  }

  a {color: rgb(255, 47, 65)}
  a:visited {color: #920000/*#a50031*/}

  ul {
    list-style: none;
    margin-left: 0%;
  }
  li:before {
    content: "\203A";
    margin: 0 1em;
  }

  /* waiting for a better solution */
  .footnoteRef, .footnotes { display: none }
  #refs { font-size: 60% }
</style>
<base target="_blank">
