                </nav>
            </section>
            <footer>
                <p>
                    Les fichiers répertoriés ci-dessus servent de base au cours de développement web de 3ème année de la filière <a href="https://www.he-arc.ch/ingenierie/bachelor-developpement-logiciel-et-multimedia" title="Page bachelor développement logiciel et multimédia de la haute école arc">DLM</a> à la
                    <a href="https://www.he-arc.ch/ingenierie" title="Page ingénierie de la haute école arc">HE-Arc</a>
                </p>
                <h2>
                    All credits for the base theme go to <a href="https://tympanus.net/Development/CreativeLinkEffects" title="tympanus.net creative link effects">Tympanus.net</a><br />
                    Adapted by <a href="https://www.github.com/73VW" title="73VW's github page">73VW</a>
                    <span>Tympanus <a href="http://tympanus.net/codrops/licensing/" title="Tympanus License">License</a></span>
                </h2>
            </footer>
        </div><!-- /container -->
    </body>
</html>
