article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

nav{
    width: 40vw;
    margin-left: 30vw;
    height: auto;
    padding-bottom: 3em;
}

nav a {
    position: relative;
    display: inline-block;
    margin: 15px 25px;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: 1.35em;
}

nav a:hover,
nav a:focus {
    outline: none;
}

.chapter{
    width: 100%;
    min-height: 4.5rem;
    position: relative;
    padding-bottom:3px;
    display: inline-block;
    overflow-y: hidden;
}

.chapter:after{
    content: "";
    display:block;
    width:50%;
    height:2px;
    padding:0;margin:0;
    background-color:white;
    position: absolute;
    right:25%;
    bottom:-1px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@media screen and (min-width: 91em) {
    nav{
        margin-left: 30vw;
    }
}

@media screen and (max-width: 90em) {
    nav{
        width: 50vw;
        margin-left: 25vw;
    }
}

@media screen and (max-width: 70em) {
    nav{
        width: 60vw;
        margin-left: 20vw;
    }
}

@media screen and (max-width: 60em) {
    nav{
        width: 70vw;
        margin-left: 15vw;
    }
}

@media screen and (max-width: 50em) {
    nav{
        width: 70vw;
        margin-left: 14vw;
    }

    nav a.right:hover ~ hr{
        width: 10vw;
        margin-right: 15vw;
    }
}

@media screen and (max-width: 30em) {
    nav{
        width: 90vw;
        margin-left: 0;
    }

    nav a.right:hover ~ hr{
        width: 5vw;
        margin-right: 20vw;
    }
}

a.left{
    float:left;
    clear:left;
}
a.right{
    float:right;
    clear:right;
}

a.book{
    float:right;
    clear:both;
}

/* Effect 13: three circles */
.cl-effect-13 a {
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}

.cl-effect-13 a::before {
    position: absolute;
    top: 100%;
    left: 50%;
    color: transparent;
    content: '•';
    text-shadow: 0 0 transparent;
    font-size: 1.2em;
    -webkit-transition: text-shadow 0.3s, color 0.3s;
    -moz-transition: text-shadow 0.3s, color 0.3s;
    transition: text-shadow 0.3s, color 0.3s;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    pointer-events: none;
}

.cl-effect-13 a:hover::before,
.cl-effect-13 a:focus::before {
    color: #fff;
    text-shadow: 10px 0 #fff, -10px 0 #fff;
}

.cl-effect-13 a:hover,
.cl-effect-13 a:focus {
    color: #89867e;
}
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700|Raleway:400,300,700);

.container > header,
.container > footer,
.codrops-top {
	font-family: 'Lato', Arial, sans-serif;
}

.container > header,
.container > footer {
	margin: 0 auto;
	padding: 2em;
	text-align: center;
	color: #89867e;
}

.container > header h1,
.container > footer h2 {
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
}

.container > header span,
.container > footer span {
	display: block;
	font-size: 60%;
	color: #ceccc6;
	padding: 0 0 0.6em 0.1em;
}

footer{
	margin-top: 15vh;
	clear: both;
    height: 25vh;
    font-size: 0.5em;
}

footer p{
    font-size: 2.5em;
    margin-bottom: 3em;
}

footer a {
	text-decoration: none;
	padding: 0 0;
	letter-spacing: 0.1em;
	color: #888;
	display: inline-block;
}

footer a:hover {
	background: rgba(255,255,255,0.95);
	color: #E60062;
}

.container > section {
	margin: 0 auto;
	padding: 3em 10em 3em 0em;
	height: auto;
}

.color-HE-Arc {
    background: #3E3E3E;
}

.color-HE-Arc a:hover {
	color: #E60062;
}
